*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box; /* Asegura relleno y borde incluido */
    /* clear:both; Respetar cajas flotantes dentro de una fila */
    /* display:table; Respetar las filas aun si es string */
}