{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h2 class="mt-4 font-weight-bold">Comunicaciones</h2>
    <p class="lead mt-2">Elige qué tipo de información quieres recibir</p>

    <h4 class="font-weight-bold">E-mails</h4>
    <div class="row">
        <div class="col-12 pt-4">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Compraste un producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Te escribieron por mensajeria</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Hicieron una pregunta en tu publicacion</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Vendiste un producto</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Tu publicación está por finalizar</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" checked required>
                    <span class="text-dark ml-2 p-2">Finalizó tu publicación</span>
                </div>
            </div>
        </div>
    </div>

    <h4 class="font-weight-bold mt-5">SMS</h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" required>
                    <span class="text-dark ml-2 p-2">Notificaciones sobre tus compras y ventas</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" required>
                    <span class="text-dark ml-2 p-2">Ofertas y promociones</span>
                </div>
            </div>
        </div>
    </div>

    <h4 class="font-weight-bold mt-5">WhatsApp</h4>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" required>
                    <span class="text-dark ml-2 p-2">Notificaciones sobre tus compras y ventas</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" name="" id="" required>
                    <span class="text-dark ml-2 p-2">Ofertas y promociones</span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="p-4">
    <p>Seguirás recibiendo comunicaciones con información importante sobre tu cuenta</p>
    <div class="row">
        <div class="col-2 pb-5">
            <a href="#" class="btn btn-primary btn-block">Guardar</a>
        </div>
        <div class="col-2">
            <a href="#" class="btn btn-block btn-warning">Cancelar</a>
        </div>
    </div>
</footer>
{% endblock %}