{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron p-3">
        <h3 class="text-center font-weight-bold">Publicar Producto</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="nombreProducto" class="lead">Nombre del producto</label>
                <input type="text" name="nombreProducto" class="form-control" placeholder="{{ session['nombreProducto'] }}" disabled>
            </div>
            <div class="form-group">
                <label for="precio" class="lead">Precio <span>(Kg)</span></label>
                <input type="number" name="precio" class="form-control" placeholder="{{session['precioProducto']}}" disabled>
            </div>
            <div class="form-group">
                <div class="input-group mt-4">
                    <label class="input-group-text font-weight-bold" for="categorias">Categorias</label>
                    <select class="form-select  form-control" id="categorias" name="categorias">
                        <option value="fruta">{{session['categoriaProducto']}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ubicacion" class="lead">Ubicación</label>
                <input type="text" name="ubicacion" class="form-control" placeholder="{{session['ubicacionProducto']}}" disabled>
            </div>
            <div class="form-group">
                <label for="descripcion" class="lead">Descripcion</label>
                <textarea name="descripcion" id="" class="form-control" placeholder="{{session['descripcionProducto']}}" rows="5" disabled></textarea>
            </div>
            <div class="form-group">
                <label for="disponibilidad" class="lead">Disponibilidad</label>
                <input type="text" name="disponibilidad" class="form-control"
                    placeholder="{{session['disponibilidadProducto']}}" disabled>
            </div>
            <div class="form-group">
                {% if check == on %}
                <input type="checkbox" name="checkEnvio" id="checkEnvio" checked>
                <span class="text-dark ml-2 font-weight-bold p-2 lead">Ofrecer envio</span>
                {% endif %}
            </div>
        </div>
        <div class="col-6">
            <form action="/agregarImagen" method="POST" enctype="multipart/form-data" class="was-validate">
                <div class="jumbotron pt-5 text-center">
                    <h3>Agregar imagenes</h3>
                    <div class="form-group pt-4">
                        <input type="file" name="imagenes" class="p-5" style="height: 100%;" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Publicar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}