<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hoja de Vida Fabian Andres Ariza. Tecnólogo en formación, creativo y de gran capacidad de aprendizaje, cuento con los
    conocimientos necesarios para trabajar en varios lenguajes de desarrollo web y programación
    tales como HTML, CSS, JAVA y PYTHON además de manejo de datos en SQL.">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>Document</title>
    <style>
        h4 {
            margin-left: 20px;
        }

        .a {
            color: black;
            font-size: 20px
        }
    </style>
</head>

<body>
    <div class="container" style="background: #f5f5f5;">
        <nav>
            <div class="nav-wrapper" style="background: #90caf9;">
                <a href="#" class="brand-logo" style="color: black; margin-left: 10px;" id="inicio">Fabian Andres
                    Ariza</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#perfil" class="a">Perfil</a></li>
                    <li><a href="#estudios" class="a">Formacion Academica</a></li>
                    <li><a href="#laboral" class="a">Experiencia Laboral</a></li>
                </ul>
            </div>
        </nav>
        <div class="col s12 m7">
            <h4 class="header" id="perfil">Perfil</h4>
            <div class="card horizontal container-fluid">
                <div class="card-image">
                    <img src="../static/foto.jpg" class="img-responsive">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            Tecnólogo en formación, creativo y de gran capacidad de aprendizaje, cuento con los
                            conocimientos necesarios para trabajar en varios lenguajes de desarrollo web y programación
                            tales como HTML, CSS, JAVA y PYTHON además de manejo de datos en SQL. Poseo gran capacidad
                            de adaptabilidad, mi objetivo es aportar herramientas útiles que permitan el desarrollo
                            integral del ser humano.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="https://www.linkedin.com/in/fabian-ariza-ariza-25b6001a6/" style="color: #64b5f6;">Perfil en linkedin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m7">
            <h4 class="header">Datos Personales</h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            Nombre(s)/Apellido(s) Fabian Andres Ariza <br>
                            Direccion Vélez Santander Carrera 6a N7a-03 America India <br>
                            Movil 3142276424 <br>
                            Correo(s) electronico(s) <u>faariza23@misena.edu.co</u><br>
                            Nacionalidad Colombiana <br>
                            Ciudad de nacimiento Vélez Santander <br>
                            Documento de indentidad Cédula de ciudadania No. 1098.171.632 de el Peñón Santander <br>
                            Sexo Masculino
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <h4 class="header" id="estudios">Estudios</h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            Secundaria Colegio integrado Antonio Ricaurte <br>
                            Tecnologo Servicio Nacional de Aprendizaje Sena
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <h4 class="header">Formacion Complementaria</h4>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            Fundamentos esenciales de la programacion <br>
                            Pesamiento Computacional <br>
                            Front End en la nube <br>
                            Cloud computing <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m7">
            <h4 class="header" id="laboral">Experiencia Laboral</h4>
            <table style="background: white;">
                <thead>
                    <tr>
                        <th>Cargo</th>
                        <th>Entidad</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Fin</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                        <td>$0.87</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="page-footer" style="background: #90caf9; margin-top: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="black-text">Desarrollador Web</h5>
                        <p class="black-text text-lighten-4">
                            Cr 6a No 7a-03 America India <br>
                            Telefono 3142276424
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="black-text">Links</h5>
                        <ul>
                            <li><a class="black-text text-lighten-3 a" href="#inicio">Inicio</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright"  style="background: #64b5f6">
                <div class="container" style="color: black;">
                    © 2014 Copyright Text
                    <a class="black-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>