<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Aplicativo web para el comercio de productos agricolas, cultivos y demas servicios agropecuarios.">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/Img/image.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/estilosIndex.css">

    <!-- Titulo -->
    <title>Tecno-Agro</title>
</head>

<body>
    <a class="btn btn-primary" href="/login">login</a>


    <!-- footer -->
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Acerca de</h5>
                    <ul class="list-unstyled mb-0 mt-3">
                        <li><a href="#!" class="text-dark links-footer">Tecno-agro</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Ayuda</h5>
                    <ul class="list-unstyled mt-3">
                        <li><a href="#!" class="text-dark links-footer">Comprar</a></li>
                        <li><a href="#!" class="text-dark links-footer">Vender</a></li>
                        <li><a href="#!" class="text-dark links-footer">Resolucion de problemas</a></li>
                        <li><a href="#!" class="text-dark links-footer">Centro de seguridad</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Redes sociales</h5>
                    <div class="redes-container">
                        <ul class="list-unstyled mb-0 mt-3">
                            <li><a href="http://facebook.com" class="facebook"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="http://instagramcom" class="instagram"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li><a href="http://twitter.com" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="http://youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Mi cuenta</h5>
                    <ul class="list-unstyled mt-3">
                        <li><a href="#!" class="text-dark links-footer">Resumen</a></li>
                        <li><a href="#!" class="text-dark links-footer">Favoritos</a></li>
                        <li><a href="#!" class="text-dark links-footer">Vender</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark text-decoration-none" href="https://mdbootstrap.com/">Tecno-agro.com</a>
        </div>
    </footer>

    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>