{% extends 'layout.html' %}

{% block body %}
<h1 class="font-weight-bold mb-0">Bienvenido(a) <span>{{session['nombres']}}</span></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex obcaecati id, culpa eligendi delectus velit atque fugit! Voluptas, necessitatibus ea! Aspernatur odio eveniet, facere voluptatibus asperiores accusamus ad sunt earum corporis dolor molestiae nesciunt pariatur maiores et nam fugiat, unde necessitatibus modi? Perferendis, maiores! In eos vitae similique dignissimos est.</p>
{% endblock %}