{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="jumbotron p-2">
        <h2 class="text-center font-weight-bold">Mercado</h2>
        <h5 class="font-weight-bold mb-0 text-center">Bienvenido(a) <span>{{session['nombres']}}</span></h5>
    </div>
    <div class="row">
        {% for producto in productos %}
        <a href="/producto/{{producto.0}}" class="mb-3">
            <div class="col-2">
                <div class="card" style="width: 19.5rem;">
                    <img class="card-img-top" src="../static/imgProductos/{{ producto.0 }}.jpg" height="250">
                    <div class="card-body">
                        <h3 class="card-title">{{ producto.1 }}</h3>
                        <p class="card-text font-weight-bold text-primary"> Precio(Kg): <span class="text-dark">{{
                                producto.2 }} COP</span></p>
                        <p class="card-text font-weight-bold text-primary m-0 p-0">Descripcion:</p>
                        <p class="text-dark">{{ producto.5 }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}