<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Aplicativo web para el comercio de productos agricolas, cultivos y demas servicios agropecuarios.">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/Img/image.png" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/estilosLayout.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Tecno-Agro</title>
</head>

<body>
    <div class="d-flex" id="content-wrapper">
        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-12 align-self-center">
                            <a href="/inicio"><img src="/static/Img/image.png" width="100px" class="ml-5 mt-4"
                                    class="img" alt=""></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a href="/inicio">
                                <h4 class="text-light font-weight-bold mb-0 ml-4 mt-1 p-2">Tecno-Agro</h4>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 m-0 p-0">
                            <a href="#"><i class="icon ion-md-pin ubicacion h1 ml-2"></i></a>
                        </div>
                        <div class="col-10 m-0 p-0 mt-2">
                            <a href="#">
                                <p class="text-direccion">Enviar a <span>{{session['nombres']}}</span></p>
                            </a>
                            <a href="#">
                                <p class="text-direccion"><span>{{session['direccion']}}</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr color="white">
            <!-- Menu -->
            <div class="menu">
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-pricetags lead mr-2"></i>
                    Mis Compras</a>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="d-block text-light p-3 border-0 dropdown-toggle" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="icon ion-md-copy lead mr-2"></i>Categorias</a>
                        <div class="dropdown-menu dropdown-menu-left p-3" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item p-2" href="#"><i class="icon ion-md-nutrition p-2"></i>Verduras</a>
                            <a class="dropdown-item p-2" href="#"><img
                                    src="../static/Img/svg/organic_fruits_icon_150233.svg" width="25px" alt="">
                                Frutas</a>
                            <a class="dropdown-item p-2" href="#"><img src="../static/Img/svg/potato_icon_126983.svg"
                                    width="25px" alt="">Tuberculos</a>
                            <a class="dropdown-item p-2" href="#"><img src="../static/Img/svg/cultivo.svg" width="25px"
                                    alt="">Cultivos</a>
                        </div>
                    </li>
                </ul>
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-stats lead mr-2"></i>
                    Historial</a>
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-card lead mr-2"></i>
                    Vender</a>
                <a href="#" class="d-block text-light p-3 border-0"> <i class="icon ion-md-checkmark lead mr-2"></i>
                    Mis ventas</a>
                <a href="#" class="d-block text-light p-3 border-0"> <i class="icon ion-md-help lead mr-2"></i>
                    Ayuda</a>
            </div>
        </div>

        <div class="w-100">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container">
                    <button class="col-2 navbar-toggler mb-2" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="d-block text-dark p-3 border-0" href="#"><i
                            class="icon ion-md-cart mr-2 p-2"></i>Carrito</a>
                    <a class="d-block text-dark p-3 border-0" href="#"><i
                            class="icon ion-md-notifications mr-2 p-2"></i>Notificaciones</a>
                    <a class="d-block text-dark p-3 border-0 mr-5" href="#"><i
                            class="icon ion-md-heart mr-2 p-2"></i>Favoritos</a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="d-flex">
                            <input class="form-control ml-3" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-primary" type="submit"><i class="icon ion-md-search"></i></button>
                        </form>
                        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="../static/Img/svg/001-user.svg"
                                        class="img-fluid rounded-circle avatar mr-1">
                                    <span class="lead">{{session['nombres']}}</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="navbarDropdown">
                                    <div class="container headerUsuario">
                                        <div class="row">
                                            <div class="col-12">
                                                <img src="../static/Img/svg/001-user.svg" width="85px" alt="">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mt-1">
                                                <h5 class="lead">{{session['nombres']}}</h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="lead">{{session['correo']}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="#">Compras</a>
                                    <a class="dropdown-item" href="#">Preguntas</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">publicaciones</a>
                                    <a href="" class="dropdown-item">Ventas</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/misDatos" class="dropdown-item">Mis datos</a>
                                    <a href="" class="dropdown-item">Seguridad</a>
                                    <a href="/privacidad" class="dropdown-item">Privacidad</a>
                                    <a href="" class="dropdown-item">E-mails</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item mb-2" href="/salir"><i
                                            class="icon ion-md-exit mr-2"></i>Cerrar sesión</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Fin Navbar -->

            <!-- Page Content -->
            <div id="content" class="bg-grey w-100">
                <section class="bg-light py-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-8">
                                {% block body %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
        integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>